data/Test set/
original_model/file_1711182420.wav
notes.txt
.ipynb_checkpoints/
original_model/.ipynb_checkpoints/
cnn/annotations
cnn/data
cnn/output
cnn/output_short
cnn/all_data.pkl
cnn/old_annotations
cnn/old_data
